.middle-click-dropdown {
  position: fixed;
  border: 1px solid #383838;
  border-radius: 5px;
  z-index: 20;
}
.middle-click-scrollbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30;
}
.middle-click-input {
  position: fixed;
  z-index: 20;
}
