<template>
  <div class="onboarding" v-if="data[page]">
    <img src="../../images/icon.svg" class="onboarding-logo" v-if="data[page].showIcon" alt="Logo" />
    <span class="onboarding-title">{{ data[page].title }}</span>
    <span class="onboarding-desc">{{{ data[page].desc }}}</span>
    <div class="onboarding-select-container" v-if="data[page].select">
      <div
        class="onboarding-select"
        v-for="option of data[page].select"
        :class="{ selected: option.selected(), dark: option.dark }"
        @click="option.click()"
      >
        <img :src="option.img" />
        <span>{{ option.title }}</span>
      </div>
    </div>
    <button class="orange-button" @click="nextPage">{{ data[page].button }}</button>
    <span class="button-note" v-if="data[page].buttonNote">{{ data[page].buttonNote }}</span>
  </div>
</template>

<style>
  .onboarding {
    position: fixed;
    background: var(--page-background);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px);
    width: 100%;
  }

  .onboarding-logo {
    height: 250px;
    margin-bottom: 80px;
  }

  .onboarding-title {
    font-size: 42px;
    margin-bottom: 10px;
  }

  .onboarding-desc {
    font-size: 28px;
    margin-bottom: 120px;
    color: #bbbbbb;
    text-align: center;
  }

  .onboarding-select-container {
    display: flex;
    margin-bottom: 75px;
  }

  .onboarding-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    color: black;
    margin: 0px 20px;
    border: solid 3px transparent;
  }

  .onboarding-select.dark {
    background: black;
    color: white;
  }

  .onboarding-select:hover {
    border: solid 3px var(--brand-orange);
  }

  .onboarding-select.selected {
    border-color: var(--brand-orange);
  }

  .onboarding-select img {
    height: 240px;
  }

  .onboarding-select span {
    padding: 8px 0px;
    font-size: 24px;
  }

  .orange-button {
    color: white;
    background: linear-gradient(#ffbf80, #ff901d);
    border: none;
    padding: 20px 56px;
    font-size: 26px;
    font-family: "Sora", sans-serif;
    border-radius: 5px;
    width: 275px;
  }

  .button-note {
    font-size: 16px;
    margin-top: 15px;
  }
</style>
