<template>
  <div class="onboarding" v-if="onboardingPage === 1">
    <img src="../../images/icon.svg" class="onboarding-logo" alt="Logo" />
    <span class="onboarding-title">Welcome to a new Scratch.</span>
    <span class="onboarding-desc">
      With over 100 customizable addons,
      <br />
      your Scratch experience will never be the same.
    </span>
    <button class="orange-button" @click="nextPage">Get Started!</button>
  </div>
  <div class="onboarding" v-if="onboardingPage === 2">
    <span class="onboarding-title">Pick a theme</span>
    <span class="onboarding-desc">
      This will affect the theme of the settings page,
      <br />
      popup, and other pages within the extension.
    </span>
    <div class="onboarding-select-container">
      <div
        class="onboarding-select"
        :class="{ selected: $settingsContext.theme }"
        @click="$settingsContext.setTheme(true)"
      >
        <img src="../../images/settings/light.svg" />
        <span>Light</span>
      </div>
      <div
        class="onboarding-select"
        :class="{ selected: !$settingsContext.theme }"
        @click="$settingsContext.setTheme(false)"
        style="background: black; color: white"
      >
        <img src="../../images/settings/dark.svg" />
        <span>Dark</span>
      </div>
    </div>
    <button class="orange-button" @click="nextPage">Next</button>
    <span class="button-note">You can always change this later.</span>
  </div>
</template>

<style>
  .onboarding {
    position: fixed;
    background: var(--page-background);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px);
    width: 100%;
  }

  .onboarding-logo {
    height: 250px;
    margin-bottom: 80px;
  }

  .onboarding-title {
    font-size: 42px;
    margin-bottom: 10px;
  }

  .onboarding-desc {
    font-size: 28px;
    margin-bottom: 120px;
    color: #bbbbbb;
    text-align: center;
  }

  .onboarding-select-container {
    display: flex;
    margin-bottom: 40px;
  }

  .onboarding-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    color: black;
    margin: 0px 20px;
    border: solid 3px transparent;
  }

  .onboarding-select:hover {
    border: solid 3px var(--brand-orange);
  }

  .onboarding-select.selected {
    border-color: var(--brand-orange);
  }

  .onboarding-select img {
    height: 240px;
  }

  .onboarding-select span {
    padding: 8px 0px;
    font-size: 24px;
  }

  .orange-button {
    color: white;
    background: linear-gradient(#ffbf80, #ff901d);
    border: none;
    padding: 20px 56px;
    font-size: 26px;
    font-family: "Sora", sans-serif;
    border-radius: 5px;
    width: 275px;
  }

  .button-note {
    font-size: 16px;
    margin-top: 15px;
  }
</style>
